* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

button {
  border: none;
  cursor: pointer;
}

body {
  font-family: "Poppins", sans-serif;
  background: rgba(128, 128, 128, 0.83);
}

#header {
  background: #ffffff;
  padding: 8px 0;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
}
#header .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#header .header--one a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  padding: 0 15px;
}
#header .header button {
  font-weight: 600;
  font-size: 16px;
  background: linear-gradient(115.11deg, #F32C6D 10.12%, #CB1D95 100.01%);
  border-radius: 9px;
  color: #FFFFFF;
  border: none;
  padding: 17px 35px;
  transition: 0.4s;
}
#header .header button:hover {
  background: #77B2D3;
  color: #FFF;
  transition: 0.4s;
  border-radius: 5px;
  box-shadow: 0 0 5px #77B2D3, 0 0 50px #77B2D3, 0 0 100px #77B2D3;
}

#hero {
  background: #F7F6FF;
  animation: slidein 2s ease-in-out;
}
#hero .hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 90px 0;
}
#hero .hero--logo h1 {
  font-weight: 700;
  font-size: 38px;
  line-height: 48px;
  text-transform: uppercase;
  color: #333333;
  padding: 30px 0;
}
#hero .hero--logo h2 {
  font-weight: 300;
  font-size: 60px;
  color: #333333;
}
#hero .hero--logo p {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  padding: 28px 0;
}
#hero .hero--logo button {
  font-weight: 600;
  font-size: 16px;
  background: linear-gradient(115.11deg, #F32C6D 10.12%, #CB1D95 100.01%);
  border-radius: 9px;
  color: #FFFFFF;
  border: none;
  padding: 17px 35px;
  transition: 0.4s;
}
#hero .hero--logo button:hover {
  background: #77B2D3;
  color: #FFF;
  transition: 0.4s;
  border-radius: 5px;
  box-shadow: 0 0 5px #77B2D3, 0 0 50px #77B2D3, 0 0 100px #77B2D3;
}

@keyframes slidein {
  from {
    transform: rotateY(-100px);
  }
  to {
    transform: rotateY(-100px);
  }
}
#tol {
  background: #F7F6FF;
  padding: 30px 0;
}
#tol .tol {
  padding: 50px 0;
  border-radius: 20px;
  background: #FFFFFF;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
  text-align: start;
}
#tol .tol h5 {
  font-weight: 400;
  font-size: 38px;
  text-transform: uppercase;
  color: #333333;
  margin-left: 70px;
  margin-bottom: 10px;
}
#tol .tol--dog {
  display: flex;
  align-items: start;
  justify-content: space-around;
}
#tol .tol--dog h3 {
  font-weight: 800;
  font-size: 50px;
  background: linear-gradient(115.11deg, #F32C6D 10.12%, #CB1D95 100.01%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#tol .tol--toc {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
#tol .tol--toc p {
  font-weight: 500;
  font-size: 16px;
  color: #333333;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
